@import url('https://fonts.googleapis.com/css2?family=Inter&family=Quicksand:wght@400;500;700&family=Roboto&display=swap');

*{
    margin:0px;
    padding:0px;
    font-family: 'inter';
    box-sizing: border-box;
}

nav{
    background-color: #437C90;
    height: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

nav ul{
    display:flex;
    width: 90%;
    height: 90%;
    justify-content: space-between;
    align-items: center;
}

nav li{
    list-style: none;
    
}

nav a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
    padding: 10px 15px;
    border-radius: 30px;
}

nav li :hover{
    background-color: white;
    color: #437C90;
}

main{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

a{
    text-decoration: none;
}

.container{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.exercise{
    width: 280px;
    height: 200px;
    padding: 10px;
    border-radius: 20px;
    color: #A8763E;
    font-weight: normal;
    box-shadow: 2px 2px 5px black;
    transition: 0.3s;
}

.exercise:hover{
    transform: scale(1.1,1.1);
}


footer{
    background-color: black;
    position: relative;
    width: 100%;
    bottom: 0px;
    height: 50px;
    padding: 10px;
    color: white;
}

@media screen and (max-width: 768px) {

    main{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        justify-content: start;
        align-content: center;
        gap: 2rem;
        width: 100%;

    }

    nav ul {
        justify-content: stretch;
      }
    }
